/* Background Image css */
body {
	margin: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

/* Nav bar css */
li {
	list-style: none;
	
}
.mainContainer {
	background-color:transparent;
	list-style: none;
	padding: 10px;	
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px; 
	padding-left: 70%;
	font-size: 20px;
}
.mainContainer a{
	text-decoration: none;
	color: ghostwhite;
}


/* Main css */
h1 {
	font-size: 100px;
	padding-left: 10px;
}

.title {
	display: grid;
	justify-content: flex-start;
	margin-top: 200px;
	margin-left: 30px;
	color: ghostwhite;
}

.para {
	display: grid;
	justify-content: left;
	width: 650px;
	margin-left: 30px;
	text-align: justify;
	padding-left: 10px;
	color: ghostwhite;
	font-size: 30px;
}



/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 480px){
	h1 {
		font-size: 50px;
	}
	.para {
		display: grid;
		justify-content: left;
		text-align: justify;
		width: 300px;
		font-size: 20px;
		margin-left: 10px;
	}
	.title {
		display: grid;
		justify-content: left;
		margin-left: 10px;

	}
	nav {
		display: flex;
		justify-content: space-around;
		padding: 10px;
		font-size: 18px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.title , .para {
		display: grid;
		justify-content: left;
	}
}