body {
	margin: 0;
	
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

/* Nav bar css */
li {
	list-style: none;	
}
.mainContainer {
	background-color: black;
	list-style: none;
	padding: 10px;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px; 
	padding-left: 60%;
	font-size: 20px;	
}
.mainContainer a{
	text-decoration: none;
	color: ghostwhite;
}


/* Main css */
.article {
	height: 500px;
	width: 500px;
  }
  .article img {
	height: 300px;
	width: 100%;
  }
  .newsArt {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	place-items: center;
	margin-left: 50px;
	margin-right: 50px;
	color: ghostwhite;
  }
h1 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	color: ghostwhite;
	font-size: 90px;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 480px) {
	.newsArt {
		display: flex;
		justify-content: center;
		margin-left: 5px;
		margin-right: 5px;
	}
	.article img {
		height: 200px;
	}
	nav {
		display: flex;
		justify-content: space-around;
		padding: 10px;
		font-size: 18px;	
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.newsArt {
		display: flex;
		justify-content: center;
	}
}
